<nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
    <a class="navbar-brand" routerLink="home">O</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="shopping-cart">Schopping Cart<span class="sr-only"></span></a>
            </li>
            <li ngbDropdown class="nav-item">
                <a href (click)="false" class="nav-link" ngbDropdownToggle>Username</a>
                <div ngbDropdownMenu>
                    <a ngbDropdownItem routerLink="my/orders">My Orders</a>
                    <a ngbDropdownItem routerLink="admin/orders">Manage Orders</a>
                    <a ngbDropdownItem routerLink="admin/products">Manage Products</a>
                    <a ngbDropdownItem routerLink="/">Log Out</a>
                </div>
            </li>

        </ul>

    </div>
</nav>